Pint==0.2
ScientificPython==2.9.2
Unum==4.1.1
astropy==0.2.3
distribute==0.6.34
ez-setup==0.9
ipython==1.2.1
magnitude==0.9.3
matplotlib==1.2.1
numericalunits==1.11
numpy==1.7.1
pandas==0.13.1
piquant==0.1
pyface==4.3.0
quantities==0.10.1
scimath==4.1.2
scipy==0.12.0
traits==4.3.0
traitsui==4.3.0
units==0.06
wsgiref==0.1.2
